{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block header %}
    <div class="row noprint">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:sdns:resp_list'%}" >Staff Information</a></li>
                {% if object.resp %}
                    <li><a href="{% url 'plugins:sdns:resp' pk=object.resp.pk %}">{{ object.resp }}</a></li>
                {% endif %}
                <li>{{ object }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'plugins:sdns:resp_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search IPs" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right noprint">
        {% plugin_buttons object %}
        {% if perms.sdns.add_resp %}
        {% comment %} {% clone_button object %} {% endcomment %}
        <a href="{{ url }}" class="btn btn-success">
        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Clone
        </a>
        {% endif %}
        {% if perms.sdns.change_resp %}
        <a href={% url 'plugins:sdns:resp_edit' pk=object.pk %} class="btn btn-warning">
        <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit
        </a>  
         {% comment %} {% edit_button object %} {% endcomment %}
        {% endif %}
        {% if perms.sdns.delete_resp %}
        {% comment %} {% delete_button object %} {% endcomment %}
        <a href="{% url 'plugins:sdns:resp_delete' pk=object.pk %}" class="btn btn-danger">
        <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete
        </a>
        
        {% endif %}
    </div>
    <h1>{% block title %}{{ object }}{% endblock %}</h1>
    {% comment %} {% include 'inc/created_updated.html' %} {% endcomment %}
    <div class="pull-right noprint">
        {% custom_links object %}
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{{ object.get_absolute_url }}"> Staff Details </a>
        </li>
        {% if perms.extras.view_objectchange %}
            <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
                <a href="{% url 'plugins:sdns:resp_edit' pk=object.pk %}">Change Log</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Staff Details</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td><strong> Login </strong></td>
                    <td> {{ nome }} </td>
                    
                </tr>
                <tr>
                    <td><strong> Name </strong></td>
                    <td> {{ resp_name }} </td>
                    
                </tr>
                <tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>{{ resp_email }}</td>
                </tr>
                <tr>
                <tr>
                    <td><strong>Position</strong></td>
                    <td>{{ resp_serv.cargo }}</td>
                </tr>
                <tr>
                <tr>
                    <td><strong>Accommodation</strong></td>
                    <td>{{ resp_serv.lotacao }}</td>
                </tr>
                </tr> 
            </table>
        </div>
        {% include 'inc/custom_fields_panel.html' %}
        
        {% plugin_left_page object %}
	</div>
	<div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Organization Unit</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td><strong>Sigla</strong></td>
                    <td> {{  sigla_unit }} </td>
                    
                </tr>
                <tr>
                    <td><strong>Name</strong></td>
                    <td> {{  resp_unit }} </td>
                    
                </tr>
                <tr>
                    <td><strong>Parant Organization Unit </strong></td>
                    <td> {{  unit_parent }} </td>
                    
                </tr>
            </table>    
        
        {% plugin_right_page object %}
	</div>
</div>
<div class="row">
    <div class="col-md-12">

        {% plugin_full_width_page object %}
    </div> 
</div>
{% endblock %}